
body{
    background:grey;
    color: white;
    padding: 0px;
    margin: 0px;
   
}
.menu{
  background-color: burlywood;
  position: fixed;
  top: 0px;
  width: 100%;

}
.menu .title{
    font-size:30px;
    text-transform: uppercase;
    text-align: center;
  
}

.menu ul{
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    justify-content:center;
    background-color: rgb(18, 19, 16);
    margin-bottom: 0px;
    padding: 30px 30px;
   
}
.menu li:hover{
    color: rgb(57, 161, 15);
    text-transform: uppercase;
   
}
.menu li{

    padding-left: 40px;
    margin-left: 80px;
    list-style-type:none;

}
.menu ul li a{
    color: whitesmoke;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: none;
 }  
.box{
    display: flex;
    justify-content:space-around;
    margin-right: 10px;
    margin-top: 10px;
    margin-left: 10px;
}
.box .article1{
text-align: center;
 background-color:darkgrey;
 height: 400px;
 padding: 68px ;
 width: 50%;
 margin-right: 8px;
}
.box .article2{
text-align: center;
 background-color:rosybrown;
 height: 400px;
 padding: 68px ;
 width: 50%;
 margin-right: 8px;
 
}

.princ{
    height: 400px;
    /* background-color: rgb(115, 226, 158); */
    margin-top: 160px;
    background-image: url("background.jpg");
    background-size:cover;
    opacity: 0.7;
    
}

.aside{
    display:flex;
    justify-content:space-around;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
}
.art{
  flex-grow: 1;
   height: 400px; 
   margin-left: 0px;
   background-color:  rgb(0, 140, 255);
}

.art2{
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    margin-left: 2px;
    margin-left: 10px;
    width: 250px;
    
}
.subart1{
  height: 200px;
  background-color:  #ff00f2;

}
 .subart2{
   height: 180px;
   background-color:  #e5ff00;   
} 
.princ h2{
    text-align: center;
    padding: 170px ;
}
.art h2{
        text-align: center;
    padding: 170px ;
}
.subart1 h3{
        text-align: center;
    padding: 70px ;
}
.subart2 h3{
        text-align: center;
    padding: 68px ;
}

.foot{
    display: flex;
    justify-content: space-around;
    background-color: black;
    margin-top: 10px;
}